html,
body,
section,
ul,
li,
nav,
a,
h1,
h2 {
    padding: 0;
    margin: 0;
    outline: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    line-height: 1.5em;
}

input[disabled],
button[disabled] {
    background: transparent !important;
    color: #dcd7d7 !important;
    border: 1px solid #dcd7d7 !important;
    cursor: not-allowed !important;
    text-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
    outline: none !important;
}